<div class="animated fadeIn">
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
          <strong>Configuration-Product</strong>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-sm-4">
              <div class="form-group">
                <label for="ProductName">Product Name</label>
                <input type="text" class="form-control" id="TeamName" placeholder="Enter Team Name">               
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label for="ProductType">Product Type</label>
                <select class="form-control" id="ProductType">
                  <option>ProductType1</option>
                  <option>ProductType2</option>
                </select>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label for="VenderName">Vender Name</label>
                <input type="text" class="form-control" id="VenderName" placeholder="Enter Vender Name">               
              </div>
            </div>
          </div><!--/.row-->

          <div class="row">
            <div class="col-sm-4">
              <div class="form-group">
                <label for="ManufacturerName">Manufacturer Name</label>
                <input type="text" class="form-control" id="ManufacturerName" placeholder="Enter Manufacturer Name">               
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label for="PartNo">Part No.</label>
                <input type="text" class="form-control" id="PartNo" placeholder="Enter Part No.">
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label for="PartDiscription">Part Discription</label>
                <input type="text" class="form-control" id="PartDiscription" placeholder="Enter Part Discription">               
              </div>
            </div>
          </div><!--/.row-->          

          <div class="row">
            <div class="col-sm-4">
              <div class="form-group">
                <label for="Enabled">Enabled</label>
                <select class="form-control" id="Enabled">
                  <option>Yes</option>
                  <option>No</option>
                </select>
              </div>
            </div>
          </div><!--/.row-->                    


      </div>
      <div class="card-footer">
          <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> Insert</button>
          <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Reset</button>
        </div>
    </div>
    <!--/.col-->
  </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> 
          <strong>Product Table</strong>
        </div>
        <div class="card-body">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Product Name</th>
                <th>Product Type</th>
                <th>Vender Name</th>
                <th>Manufacturer Name</th>
                <th>Part No.</th>
                <th>Part Discription</th>
                <th>Enabled</th>
                <th>Edit</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Yiorgos Avraamu</td>
                <td>Member</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>
                  <span class="badge badge-success">Active</span>
                </td>
              </tr>
            </tbody>
          </table>
          
        </div>
      </div>
    </div>
    <!--/.col-->
  </div>
  <!--/.row-->  

</div>


