<div class="animated fadeIn">
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
          <strong>Configuration - Product Type</strong>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-sm-4">
              <div class="form-group">
                <label for="ProductTypeName">Product Type Name</label>
                <input type="text" class="form-control" id="ProductTypeName" placeholder="Enter Product Type Name">               
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label for="ProductType">Product Type</label>
                <input type="text" class="form-control" id="ProductType" placeholder="Enter Product Type">               
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label for="ProductCategory">Product Category</label>
                <input type="text" class="form-control" id="ProductCategory" placeholder="Enter Product Category">               
              </div>
            </div>
          </div><!--/.row-->

          <div class="row">
            <div class="col-sm-4">
              <div class="form-group">
                <label for="ProductDiscription">Product Discription</label>
                <input type="text" class="form-control" id="ProductDiscription" placeholder="Enter Product Discription">               
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label for="Enabled">Enabled</label>
                <select class="form-control" id="Enabled">
                  <option>Yes</option>
                  <option>No</option>
                </select>
              </div>

          </div><!--/.row-->


      </div>
      <div class="card-footer">
          <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> Insert</button>
          <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Reset</button>
        </div>
    </div>
    <!--/.col-->
  </div>

  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> 
          <strong>Product Type Table</strong>
        </div>
        <div class="card-body">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Product Type Name</th>
                <th>Product Type</th>
                <th>Product Category Name</th>
                <th>Product Discription</th>
                <th>Enabled</th>
                <th>Edit</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Yiorgos Avraamu</td>
                <td>Member</td>
                <td>Member</td>
                <td>Member</td>
                <td>Member</td>
                <td>
                  <span class="badge badge-success">Active</span>
                </td>
              </tr>
            </tbody>
          </table>
          
        </div>
      </div>
    </div>
    <!--/.col-->
  </div>
  <!--/.row-->  
</div>


